{% load static %}

<html>
    <head>
        <title>App Enquetes</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/static.css' %}">
    </head>
    <body>
        <h1>Aplicação Enquetes - DsWeb 2024.1</h1>
        <br>
        <h2>Aluno: Lucas Henrique Barreto Demetrio - 3º Período</h2>
        {% if lista_enquetes %}
            <h3>Lista das Enquetes Cadastradas:</h3>
            <ul>
                {% for p in lista_enquetes %}
                    <li>
                        <a href="{% url 'polls:detalhes' p.id %}">
                            {{ p.texto }}
                        </a>
                    </li>
                {% endfor%}
            </ul>
        {% else %}
            <h3>Nenhuma enquete cadastrada até o momento</h3>
        {% endif %}
    </body>
</html>